[submodule "deps/libzmq"]
	path = deps/libzmq
	url = https://github.com/zeromq/libzmq
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
[submodule "deps/extlibc"]
	path = deps/extlibc
	url = https://github.com/deerlets/extlibc.git
